.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.start {
    width: 7rem;
    height: 2rem;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
    margin-top: 20px;
    cursor: pointer;
}

.stop {
    width: 7rem;
    height: 2rem;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
    margin-top: 20px;
    cursor: pointer;

}